-
 var
  main = 'password',
  inputsLegends = ['Password', 'Confirm password'],

  labels = [`Tick if you want to get tips on on how to improve your profile
  visibility and some real statistics`,
  `Tick if you want to get someting even more useful`],

  button = `Complete signup and proceed to payment`,

  buttonLabel = `By clicking "Complete signup and proceed to payment"
  I agree to Unbiased's Terms of Service`;


section(class=`${main} section`)
  .wrapper
    div(class=`block-title-wp ${main}__title`)
      h2(class=`block-title`) Your password
    div(class=`${main}-block`)

      // inputs block
      div(class=`${main}__inputs-wrap inputs-text-wrap`)

        // input wrap 1
        div(class=`${main}__input-block input-text-wrap`)
          div(class="title-like-legend")= inputsLegends[0]
          input(class=`${main}__input input-text input-password border-legend`
                type="password"
                name="password")

        // input wrap 2
        div(class=`${main}__input-block input-text-wrap`)
          div(class="title-like-legend")= inputsLegends[1]
          input(class=`${main}__input input-text input-password border-legend`
                type="password"
                name="confirm-password")

      // checkboxes
      div(class=`${main}__checkboxes`)

        // checkbox row
        div(class=`${main}__checkbox-row`)
          input(
            class=`${main}__checkbox checkbox-sea-color`
            type="checkbox"
            name="tips-on"
            id="tips-on"
            )
          label(class=`${main}__label checkbox-label`
                for="tips-on")= labels[0]

        // checkbox row
        div(class=`${main}__checkbox-row`)
          input(
            class=`${main}__checkbox checkbox-sea-color`
            type="checkbox"
            name="more-useful"
            id="more-useful"
            )
          label(class=`${main}__label checkbox-label`
                for="more-useful")= labels[1]

      div(class=`${main}__complete`)
        div(class=`${main}__complete-button-wrap`)
          input(class=`${main}__complete-button main-button button--orange`
                value=button
                type="submit"
                name="agree")
          p(class=`${main}__button-label`)= buttonLabel
